.header {
    position: fixed;
    height: 200px;
    width: 100%;
    z-index: 1;
    background: white;
    color: #ed225d;
    font-family: Montserrat, sans-serif;
    text-align: center;
    display: table;
}


.message-container {
    display: table-cell;
    vertical-align: middle;
}

.message {
    color: #6b6b6b;
    margin: 10px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
  background-color: #D9D9D9;
  border-radius: 8px;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  transition-duration: 0.4s;
  outline: none !important;
}

button:hover {
  background-color: #ed225d;
  color: white;
}

input {
  padding: 8px 16px;
  text-align: center;
  color: #6b6b6b;
  border-radius: 8px;
  border-color: #D9D9D9;
  border-style: solid;
  outline: none !important;
}

input:focus {   
  border-color: #ed225d;
  border-style: solid;
}

input::placeholder {
  color: #D9D9D9;
  opacity: 1; 
}